div[note] {
    display: flex;
    flex-direction: column;
    align-items: normal;
    padding-bottom: 4px;
}
div[note] > h1:first-child,
div[note] > h2:first-child,
div[note] > h3:first-child,
div[note] > h4:first-child,
div[note] > h5:first-child,
div[note] > h6:first-child {
    margin: 0;
    margin-bottom: 4px;
    width: 100%;
}


div[note]:not([gallery]) {
    border: 1px solid;
    border-radius: 3px;
    border-color: #dcdcdc;
}
div[note][gallery] {
    border: none;
}

div[note]:not([gallery]) > h1:first-child,
div[note]:not([gallery]) > h2:first-child,
div[note]:not([gallery]) > h3:first-child,
div[note]:not([gallery]) > h4:first-child,
div[note]:not([gallery]) > h5:first-child,
div[note]:not([gallery]) > h6:first-child {
    border-bottom: 1px solid;
    border-color: inherit;
    text-align: center;
}

div[note][gallery] > h1:first-child,
div[note][gallery] > h2:first-child,
div[note][gallery] > h3:first-child,
div[note][gallery] > h4:first-child,
div[note][gallery] > h5:first-child,
div[note][gallery] > h6:first-child {
    border: 1px solid;
    border-color: inherit;
    border-radius: 3px;
    text-align: center;
}

div[note] > *:not(:first-child) {
    margin-left: 4px;
    margin-right: 4px;
}

div[note] div[note] {
    border-color: #fff;
    box-shadow: 0 0 0px 1px #eeeeee;
}

div[macro='gallery'] {
    display: grid;
    place-items: center;
    width: auto;
}
div[macro='gallery'][columns='2'] {
    grid-template-columns: 1fr 1fr;
}
@media (max-width: 900px) {
    div[macro='gallery'] {
        grid-template-columns: 1fr;
    }
}