<!DOCTYPE html>
<html>
    <head>
        <title>Note</title>
        <link rel="stylesheet" href="./theme/base.css">
        <link rel="stylesheet" href="./theme/macros.css">
        <link rel="stylesheet" href="./theme/typography.css">
        <link rel="stylesheet" href="./nav/nav.css">
    </head>
    <body>
        <header root>
            <include src="./nav/nav.html"></include>
            <div toc>
                <toc></toc>
            </div>
        </header>
        <main>
            <content></content>
        </main>
    </body>
</html>