div[note] {
    display: flex;
    flex-direction: column;
    align-items: normal;
    padding-bottom: 4px;
}
div[note] > h1:first-child,
div[note] > h2:first-child,
div[note] > h3:first-child,
div[note] > h4:first-child,
div[note] > h5:first-child,
div[note] > h6:first-child {
    margin: 0;
    margin-bottom: 4px;
    width: 100%;
    padding: 2px;
}


div[note]:not([gallery]) {
    border: 1px solid;
    border-radius: 3px;
    border-color: #dcdcdc;
}
div[note][gallery] {
    border: none;
}

div[note]:not([gallery]) > h1:first-child,
div[note]:not([gallery]) > h2:first-child,
div[note]:not([gallery]) > h3:first-child,
div[note]:not([gallery]) > h4:first-child,
div[note]:not([gallery]) > h5:first-child,
div[note]:not([gallery]) > h6:first-child {
    border-bottom: 1px solid;
    border-color: inherit;
    text-align: center;
}

div[note][gallery] > h1:first-child,
div[note][gallery] > h2:first-child,
div[note][gallery] > h3:first-child,
div[note][gallery] > h4:first-child,
div[note][gallery] > h5:first-child,
div[note][gallery] > h6:first-child {
    border: 1px solid;
    border-color: inherit;
    border-radius: 3px;
    text-align: center;
}

div[note] > *:not(:first-child) {
    margin-left: 4px;
    margin-right: 4px;
}

div[note] div[note] {
    border-color: #fff;
    box-shadow: 0 0 0px 1px #eeeeee;
}

@media (min-width: 900px) {
    div[note][small] {
        display: grid;
        grid-template-columns: min-content 1fr;
        padding: 0;
    }
    div[note][small] > h1:first-child,
    div[note][small] > h2:first-child,
    div[note][small] > h3:first-child,
    div[note][small] > h4:first-child,
    div[note][small] > h5:first-child,
    div[note][small] > h6:first-child {
        margin: 0;
        align-self: center;
        border-right: 1px solid #dcdcdc !important;
        border-bottom: none;
        border-color: inherit;
        border-radius: unset;
        padding-left: 12px;
        padding-right: 12px;
        height: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        min-width: 200px;
        justify-content: flex-end;
        padding-right: 12px;
    }
}
div[macro='gallery'][small] {font-size: 0.8em;}
div[note][small]:not([gallery]) div[macro='gallery'] {font-size: 0.8em;}
div[note][small]:not([gallery]) h1 {font-size: 2em;}
div[note][small]:not([gallery]) h2 {font-size: 0.8em;}
div[note][small]:not([gallery]) h3 {font-size: 1.3em;}
div[note][small]:not([gallery]) h4 {font-size: 0.9em;}
div[note][small]:not([gallery]) h5 {font-size: 0.6em;}
div[note][small]:not([gallery]) h6 {font-size: 0.5em;}


div[note][monospace]:not([gallery]) * {
    font-family: 'Roboto Slab', monospace;
}
div[note][monospace]:not([gallery]) h1,
div[note][monospace]:not([gallery]) h2,
div[note][monospace]:not([gallery]) h3,
div[note][monospace]:not([gallery]) h4,
div[note][monospace]:not([gallery]) h5,
div[note][monospace]:not([gallery]) h6
{
    font-family: 'Roboto Slab', monospace;
    font-weight: 400;
}

div[macro='gallery'] {
    display: grid;
    width: auto;
    column-gap: 8px;
    row-gap: 8px;
}
div[macro='gallery'][compact] {
    place-items: center;
}
div[macro='gallery'][columns='2'] {
    grid-template-columns: 1fr 1fr;
}
div[macro='gallery'][columns='3'] {
    grid-template-columns: 1fr 1fr 1fr;
}
div[macro='gallery'][columns='4'] {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media (max-width: 900px) {
    div[macro='gallery'][columns='2'] ,
    div[macro='gallery'][columns='3'] ,
    div[macro='gallery'][columns='4'] {
        grid-template-columns: 1fr;
    }
}

div[latex='block'] {
    font-family: 'Roboto Slab', monospace;
    text-rendering: optimizeLegibility;
}

div[latex='inline'] {
    font-family: 'Roboto Slab', monospace;
    text-rendering: optimizeLegibility;
}

div[note] > p {
    text-align: justify;
    font-weight: 300;
}

div[macro="desmos"] {
    align-self: center;
}