<!-- WIP NEW NAVIGATION -->

<style>
    nav#side-nav {
        border: 1px solid #000;
        border-radius: 3px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        margin: 25px;
        width: 100%;
        margin: 0 auto;
        margin-top: 10px;
    }
    nav#side-nav > span {
        border-bottom: 1px solid #000;
        margin-bottom: 4px;
        padding: 4px;
    }
    nav#side-nav ul {
        display: flex;
        flex-direction: column;
        color: #000;

        margin-left: 4px;
        border-left: 1px solid #e0e0e0;
        padding-left: 10px;
    }
    nav#side-nav ul > li {
        display: flex;
        color: inherit;
        flex-direction: column;
    }
    nav#side-nav ul > li > a {
        color: inherit;
        display: flex;
        align-items: center;
        text-decoration: none;
    }
    nav#side-nav ul > li > a > span.suffix {
        margin-right: 10px;
        font-size: 0.8em;
        font-weight: 100;

        padding: 3px;
        font-size: 0.3em;
        text-decoration: none;
        border: 1px solid #e0e0e0;
        color: #191919;
    }
    nav#side-nav ul > li > a > span.chapter {
        margin-right: 10px;
        text-decoration: underline;
    }
    nav#side-nav ul > li > a > span.name {
        text-decoration: underline;
    }
</style>

<nav id=side-nav>
    <span>Navigation</span>
</nav>

<script>
    function $(f) {
        return f();
    }
    let menu = [
        {
            name: 'Homepage',
            path: 'index.html'
        },
        {
            name: 'Sample',
            path: 'sample.html'
        },
        {
            name: 'Mathematics Reference',
            suffix: 'Personal Notes',
            path: 'math-ref.html',
        },
        {
            name: 'Calculus 1',
            suffix: 'Class Notes',
            path: 'calc1/index.html',
            sub: [
                {
                    name: 'Inverse Functions',
                    chapter: '6',
                    path: 'calc1/chapter6.html'
                },
            ]
        },
        {
            name: 'Trigonometry',
            suffix: 'Class Notes',
            path: 'trig/index.html',
            sub: [
                {
                    name: 'Topics in Analytic Geometry',
                    chapter: '6',
                    path: 'trig/chapter6.html'
                },
                {
                    name: 'Review',
                    path: 'trig/review.html'
                },
            ]
        },
    ];
    let host = window.location.host;
    function get_link(ref_ref) {
        let href = "";
        if (host === "colbyn.github.io") {
            href = `https://colbyn.github.io/subscript/${ref_ref}`;
        } else {
            href = `/${ref_ref}`;
        }
        return href;
    }
    function build_entry(entry) {
        let host = window.location.host;
        let node = document.createElement("li");
        // LINK NODE
        $(() => {
            let link_node = document.createElement('a');
            link_node.href = get_link(entry.path);
            // SUFFIX
            if ('suffix' in entry) {
                let span_node = document.createElement('span');
                span_node.className = "suffix";
                span_node.textContent = entry.suffix;
                link_node.appendChild(span_node);
            }
            // CHAPTER
            if ('chapter' in entry) {
                let span = document.createElement("span");
                span.className = "chapter";
                span.textContent = `Chapter ${entry.chapter}`;
                link_node.appendChild(span);
            }
            // NAME
            if ('name' in entry) {
                let span = document.createElement("span");
                span.className = "name";
                span.textContent = entry.name;
                link_node.appendChild(span);
            }
            node.appendChild(link_node);
        });
        // CHILD NODES
        if ('sub' in entry) {
            node.appendChild(build_entries(entry.sub));
        }
        // DONE
        return node;
    }
    function build_entries(entries) {
        let ul_node = document.createElement("ul");
        for (entry of entries) {
            ul_node.appendChild(build_entry(entry));
        }
        return ul_node;
    }
    // BUILD ROOT MENU
    let root_ul_node = document.querySelector("nav#side-nav");
    console.assert(root_ul_node);
    root_ul_node.appendChild(build_entries(menu));
</script>